.hero-unit{:style => 'background-color: #D1EED1;border-color: #BFE7BF;border-top-color: #BFE7BF;border-right-color: #BFE7BF;border-bottom-color: #BFE7BF;border-left-color: #BFE7BF;'}
  .row
    .span10
      %h1 Techno Finder
      %p Find public technology resources in Chicago by calling <strong>(773) 280-8612</strong>.
    .span3
    %img{:src => 'computer.png'}
.row
  .span16
    %h2 About
    %p Need to use a computer with Internet?  Looking for technology training or wi-fi hotspots?
    %br
    %p Chicago has many public sites with technology resources that are free or afforable.
    %br
    %p Technology Resources include:
    %ul
      %li Computers with Internet
      %li Wi-fi hotspots
      %li Technology training
    %br
.row
  .span8
    %h2 How to Use
    %p Find technology resources in Chicago by calling <strong>(773) 280-8612</strong> and entering your 5 digit zip code.
    %h4 Example:
    %dl
      %dt
        Call
        %dd (773) 280-8612
      %dt
        Enter your 5 digit zip code
        %dd 60647
      %dt
        = "Here are #{@items_say.count} locations. Press the location number you want more information about."
        %dd
          - @items_say.each do |item|
            = item
            %br
      %dt
        Press 2 on phone
        %dd
          = "Information about location #{@tech[1].facility} is as follows: "
          %br
          = "Location: #{@tech[1].address} "
          %br
          = "Type: #{@tech[1].type}"
          %br
          = "Hours: #{@tech[1].hours}"
          %br
          = "Phone: #{@tech[1].phone}"
          %br
          = "Appointment: #{@tech[1].appointment}"
          %br
          = "Internet: #{@tech[1].internet ? 'Yes' : 'No'}"
          %br
          = "WIFI: #{@tech[1].wifi ? 'Yes' : 'No'}"
          %br
          = "Training: #{@tech[1].training ? 'Yes' : 'No'}"
      %dt
        Would you like to have a text message sent to you? Press 1 to get a text message; Press 2 to conclude this session.
        %dd
          1
      %dt
        What 10-digit phone number would you like to send the information to?
        %dd 773-555-1212
        %br
      %ul.media-grid
        %li
          %a{:href => "sms_example.png"}
            %img{:class => "thumbnail", :src => "sms_example.png"}/
      %dt That's all thanks for using!
%br
%br
.row
  .span8
    %h2 Data Source
    %p Data provided by the City of Chicago Data portal - <a href="http://data.cityofchicago.org/Technology/Public-Technology-Resources/nen3-vcxj">Public Technology Resources</a>
.row
  .span16
    %h2 View on the map
    %br
    %p The City of Chicago also provides an easy to use map to view Public Technology Resources:
    %iframe{:width => "500px", :height => "425px", :src => "/mobile",  :frameborder => "0", :scrolling => "no"}
%footer
  %p Created by <a href="http://about.me/ryanresella">Ryan Resella</a>

