<!DOCTYPE html>
<html>
  <head>
    <title>Techno Finder Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <style type="text/css">
      .page-map, #map-canvas { width: 100%; height: 100%; padding: 0; }
      p {
        font-size: 13px;
        font-weight: normal;
        line-height: 18px;
        margin-bottom: 9px;
      }
    </style>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
      var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-8063472-5']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
    </script>
    <script type="text/javascript">
    function initialize() {
    detectBrowser();
    var myLatlng = new google.maps.LatLng(41.850033 , -87.65005229999997);
    var myOptions = {
      zoom: 13,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var _myLocationMarker = null, _myLocationLatLng = null;

    if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition( function(position) {
                var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                //Clear the marker if it exists
                if(_myLocationMarker) {
                  _myLocationMarker.setMap(null);
                }

                _myLocationLatLng = latLng;

                //Add a marker on my current location
                _myLocationMarker = new google.maps.Marker({
                    map: map,
                    position: _myLocationLatLng,
                    icon: 'bluedot.png'
                });

                map.setCenter(_myLocationLatLng);

            },
            function(msg){
              alert('We couldn\'t locate your position.');
              console.log(msg);
            },
            { enableHighAccuracy: true, maximumAge: 90000 });
        }

    <% @tech.each do |places| %>
      var contentString = '<div id="content">'+
          '</div>'+
          '<div>'+
          '<p><%= places.facility.tr("'","/'") %> <br/>' +
          'Addres: <%= places.address %> <br/>' +
          'Type: <%= places.type %> <br/>' +
          'Phone: <%= places.phone %> <br/>' +
          'Website: <a href="<%= places.website[0] %>" _target="blank"><%=places.website[0]%></a> <br/>' +
          'Hours: <%= places.hours %> <br/>' +
          'Appointment: <%= places.appointment %> <br/>' +
          'Internet: <%= places.internet ? 'Yes' : 'No' %> <br/>' +
          'Wifi: <%= places.wifi ? 'Yes' : 'No' %> <br/>' +
          'Training: <%= places.training ? 'Yes' : 'No' %> <br/>' +
          '</p></div>'+
          '</div>';

      var infowindow<%=places.position%> = new google.maps.InfoWindow({
          content: contentString
      });

      var myPoints = new google.maps.LatLng(<%= places.location[1] %>, <%= places.location[2] %>)
      var marker<%=places.position%> = new google.maps.Marker({
          position: myPoints,
          map: map,
          title: '<%=places.facility.tr("'","/'") %>'
      });
      google.maps.event.addListener(marker<%=places.position%>, 'click', function() {
        infowindow<%=places.position%>.open(map,marker<%=places.position%>);
      });
    <% end %>
  function detectBrowser() {
  var useragent = navigator.userAgent;
  var mapdiv = document.getElementById("map_canvas");

  if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
    mapdiv.style.width = '100%';
    mapdiv.style.height = '100%';
  } else {
    mapdiv.style.width = '600px';
    mapdiv.style.height = '800px';
  }
  }

    }

$(document).ready(function(){
  $('.goMap').live('click', function() {
  initialize();
  });
});

  </script>
</head>
<body >
<div data-role="page" id="home" style="width:100%; height:100%;">
<div data-role="header">
<div class="ui-title-frontpage">
<h2>Techno Finder</h2>
</div>
</div>

<div data-role="content">
<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="a">
<li data-role="list-divider">Technology Locations</li>
<li class="goMap"><a href="#wifi_map" data-transition="slide">Wi Fi Locations</a></li>
</ul>
</div>
</div>
<div data-role="page" class="page-map" id="wifi_map" style="width:100%; height:100%;">
<div data-role="header" data-position="fixed"><h2>Wi Fi Locations</h2></div>
<div data-role="content" style="width:100%; height:100%; padding:0;">
<div id="map_canvas" style="width:100%; height:100%;"></div>
</div>
</div>

  </body>
</html>

