<!DOCTYPE html>
<html>
  <head>
    <title>Techno Finder Map</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <style type="text/css">
      html, body, #map_canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    </style>
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">
    function initialize() {
    var myLatlng = new google.maps.LatLng(41.850033 , -87.65005229999997);
    var myOptions = {
      zoom: 13,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    <% @tech.each do |places| %>
      var contentString = '<div id="content">'+
          '</div>'+
          '<div>'+
          'Addres: <%= places.address %> <br/>' +
          'Type: <%= places.type %> <br/>' +
          'Phone: <%= places.phone %> <br/>' +
          'Website: <a href="<%= places.website[0] %>" _target="blank"><%=places.website[0]%></a> <br/>' +
          'Hours: <%= places.hours %> <br/>' +
          'Appointment: <%= places.appointment %> <br/>' +
          'Internet: <%= places.internet ? 'Yes' : 'No' %> <br/>' +
          'Wifi: <%= places.wifi ? 'Yes' : 'No' %> <br/>' +
          'Training: <%= places.training ? 'Yes' : 'No' %> <br/>' +
          '</div>'+
          '</div>';

      var infowindow<%=places.position%> = new google.maps.InfoWindow({
          content: contentString
      });

      var myPoints = new google.maps.LatLng(<%= places.location[1] %>, <%= places.location[2] %>)
      var marker<%=places.position%> = new google.maps.Marker({
          position: myPoints,
          map: map,
          title: '<%=places.position %>'
      });
      google.maps.event.addListener(marker<%=places.position%>, 'click', function() {
        infowindow<%=places.position%>.open(map,marker<%=places.position%>);
      });
    <% end %>
  }
  </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas"></div>
  </body>
</html>

